.series-list {
  padding-left: 0;
  margin-left: 0;
}

.series-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $color__background-row;

  margin: 5px 0;
  transition: all ease-in-out 0.3s;

  &-active {
    background: $color__background-header;

    .series-list-item-title {
      color: white;
    }

    .star-rating-list-item {
      i {
        color: $color__star-darkbg;
      }
    }
  }
}

.series-list-item-title-container {
  float: left;
  width: 60%;
}

.series-list-item-title {
  display: block;

  margin-top: 15px;
  margin-bottom: 10px;
}

.series-list-item-subtitle {
  margin-top: 0;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}