html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
  background: $color__background-footer; /* Fallback for when there is no custom background color defined. */
}


/*--------------------------------------------------------------
## Single Column / No Active Sidebar
--------------------------------------------------------------*/
.no-sidebar .site-main {
  margin: 0;
}

.no-sidebar .content-area {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.site-main {
  float: left;
  width: 100%;
  background: $color__background-body;
  min-height: 600px;
  @media screen and (min-width: 768px) {
    min-height: 850px;
  }
}

.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  background: $color__background-footer;
  color: #fff;
  padding: 10px 30px 60px;
  @media screen and (max-width: 768px) {
    padding: 10px 15px;
  }
  height: auto;
  min-height: 120px;
}

.site-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
  }

  i {
    margin: 0 5px;
  }
}

/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
@import "posts";

/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/
@import "pages";
