#page {
	width: 100%;
	overflow: hidden;
}

.view-inner-container {
	max-width: 900px;
	margin: 0 auto;
}

.view-inner-header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background: $color__background-header;
	color: white;
	min-height: 80px;
	padding: 10px 15px;
}

.view-title {
	margin-top: 0;
	margin-bottom: 5px;
}

.view-subtitle {
	margin: 0;
}

.page-content {
	margin: 0;
	padding: 1.5em 30px;

	background: $color__background-row;
}